@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: lightblue;
}
:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
max-width: 1280;
margin: 0 auto;
} 

nav {

  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:72px;
}

ul {
display: flex;
gap: 24px;
list-style-type: none;
font-weight: 500;
}

.h1 {
font-size: 48px;
font-weight: 800;
}
 .p1 {
  font-size: 48px;
  font-weight: 800;
 }

 .primary-btn {
  padding: 18px 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  min-width: 220px;
  font-size: 16px;
  justify-content: center;

 }
 .top_btn
 {
   display: flex;
   gap: 32px;
 }

 .primary-btn {
  padding: 18px 10px;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  min-width: 220px;
  font-size: 16px;
  justify-content: center;

 }
 .main_container{
  display: flex;
  height: calc(150vh - 50px);
  flex-direction: column;
  justify-content: end;
  
   }